<h2>Sign up</h2>

<form action="/signup" method="POST">
    <label >
        Username:
        <input type="text" name="username" placeholder="Username">
    </label>
    <label >
        Password:
        <input type="password" name="password" placeholder="Password">
    </label>
    <button type="submit">Create account</button>
</form>

{{#if errorMessage}}
  <div class="error">
    {{errorMessage}}
  </div>
{{/if}}